RESEND_API_KEY=
CONTACT_FROM_EMAIL=
CONTACT_TO_EMAIL=info@weagro.com.ar
VITE_SUPABASE_URL=https://zkdbesrulemiwhlgxhkz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InprZGJlc3J1bGVtaXdobGd4aGt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMzY4MDYsImV4cCI6MjA5MzYxMjgwNn0.XMMM5YdoL3HdVEBnPlGyfIuDlsd2LlbfnS_hQETxmKw
